.App {
  padding: 0 15vw;
}

h1 {
  padding: 10px;
  display: flex;
  justify-content: center;
}

a {
  color: #a2d83e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section,
form {
  padding-top: 1rem;
}

ol {
  padding: 0;
}

img {
  max-width: 300px;
}
