@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

body {
  margin: 0;
  font-family: "Special Elite", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #ffffff;
}
